
#popup #title1 {
  font-size:12px;
}

#popup #title2 {
  font-size:10px;
}

#popup #title1, #popup #title2 {
  margin-bottom:0;
}

#popup p {
  font-size:10px;
}
#popup #infos {
  color:#AFAFAF;
}
#popup {
  background-color: #FFF;
  padding:10px;
  box-shadow: 1px 1px 12px #555;
}

#select{
  padding:10px;
  position:absolute;
  right:10px;
  top:10px;
  z-index:10000;
  color:#FFF;
  background-color: rgba(0, 60, 136, 0.498039);
}

#search_stations{
  padding:10px;
  position:absolute;
  right:10px;
  top:150px;
  z-index:10000;
  color:#FFF;
  background-color: rgba(0, 60, 136, 0.498039);
}

button{
  background-color:transparent;
}
